In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

In [2]:
# Let's first load the data
df = pd.read_csv("C:/Users/Mesrop/Desktop/Advertising.csv")
df.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [40]:
df.corr()

            Unnamed: 0        TV     radio  newspaper     sales       TV2
Unnamed: 0    1.000000  0.017715 -0.110680  -0.154944 -0.051616  0.014665
TV            0.017715  1.000000  0.054809   0.056648  0.782224  0.981221
radio        -0.110680  0.054809  1.000000   0.354104  0.576223  0.029452
newspaper    -0.154944  0.056648  0.354104   1.000000  0.228299  0.044289
sales        -0.051616  0.782224  0.576223   0.228299  1.000000  0.789241
TV2           0.014665  0.981221  0.029452   0.044289  0.789241  1.000000

In [29]:
df['TV2'] = np.sqrt(df['TV'])

In [28]:
df.head()

   Unnamed: 0     TV  radio  newspaper  sales       TV2
0           1  230.1   37.8       69.2   22.1  52946.01
1           2   44.5   39.3       45.1   10.4   1980.25
2           3   17.2   45.9       69.3    9.3    295.84
3           4  151.5   41.3       58.5   18.5  22952.25
4           5  180.8   10.8       58.4   12.9  32688.64

In [67]:
model = sm.OLS(df.iloc[:,0],sm.add_constant(df.iloc[:,1:5]))

In [ ]:
fit = model.fit()

In [68]:
fit.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             Unnamed: 0   R-squared:                       0.029
Model:                            OLS   Adj. R-squared:                  0.009
Method:                 Least Squares   F-statistic:                     1.444
Date:                Fri, 28 Feb 2020   Prob (F-statistic):              0.221
Time:                        23:44:45   Log-Likelihood:                -1092.0
No. Observations:                 200   AIC:                             2194.
Df Residuals:                     195   BIC:                             2211.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        116.3611     12.853      9.053      0.000      91.012     141.710
TV             0.0503      0.122      0.414      0.679      -0.189       0.290
radio         -0.1261      0.546     -0.231      0.818      -1.204       0.952
newspaper     -0.3557      0.201     -1.772      0.078      -0.752       0.040
sales         -0.6745      2.442     -0.276      0.783      -5.490       4.141
==============================================================================
Omnibus:                       95.979   Durbin-Watson:                   0.055
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               12.192
Skew:                          -0.041   Prob(JB):                      0.00225
Kurtosis:                       1.793   Cond. No.                         553.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""